<div class="form-group">
    <label for="">
        <?= __d("system","Bargain Showed") ?>
    </label>
    <input type="number" class="form-control" name="[config][amount]" value="<?= isset($widget_config["amount"])?$widget_config["amount"]:"3" ?>" max="10" />
</div>