@color-primary-0: #01688c;

html, body {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.canvas {
  position: relative;
  left: 0;
  z-index: 2;
  min-height: 100%;
  padding: 98px 0 0 0;
  background: #fff;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}


.navmenu
{
  background-color: @color-primary-0 !important;
  color:#fff !important;
  a{
    color:#fff !important;
  }
}

.radio-inline
{
  padding-left:5px;
  margin-left:0px;
}

.radio-inline+.radio-inline
{
  margin-left:0px;
}

.sub-section .detail ol{
  margin:0px;
  -webkit-margin-before:10px;
}

.navbar-sm-blue
{
  background-color:#fff;
  border-bottom:1px solid #ccc;
  // background-color:#2D55EA; 
  .navbar-toggle{
    &:hover{
      background-color:transparent;
    }
    margin-left:5px;
    margin-top:3px;
    .icon-bar{
      background-color:#888;
    }
  }
  .navbar-brand{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height:40px;
    float:none;
    text-align:center; 
    color:transparent;
    border:0;
    background:url('../img/assets_logo_mobile.png') no-repeat center;
    background-size:130px;
    margin-top:4px;
    margin-bottom:4px;
  }
  form{
    margin-top:5px;
    margin-bottom:5px;
  }
  .search-wrapper
  {
    padding-top:0px !important;
  }
}

.separator
{
  border-top:1px solid #fff;
}

footer .social-link-list
{
  display:inline-block;
}