@color-primary-0: #01688c;	/* Main Primary color */
@color-primary-1: #f4f4f4;
@color-primary-2: #ABACAE;
@color-primary-3: #01688c;
@color-primary-4: #01688c;
@fixed-header : #01688c;
@sky-blue : #c9dce2;
@mild-white : #f4f4f4;
@color-hover-orange : #f9b916;
@border-color:#9e9e9e;

h1,h2,h3,h4,h5,h6
{
	font-family: 'Titillium Web', sans-serif !important;
}

.h-one(@index) when (@index > 0) {
	h@{index} {
        font-size: 30px - @index;
        text-transform: uppercase;
	}
	.h-one(@index - 1);
}

.h-one(6);

nav{
	height:56px;
	
	.background
	{
		background-color:@color-primary-0;
	}

	.sm-nav-wrapper
	{
		height:56px;
		background-color:@mild-white;
		a{
			color:#333;
		}
	}

	.search-nav-wrapper
	{
		height:56px;
		background-color:@color-primary-0;
	}

	.brand-logo
	{
		padding-top:8px;
		img{
			height: 40px;
		}
	}

	.side-nav{
		.user-img
		{
			height:60px;
		}
	}
}

.h(@index) when (@index > 0) {
	h@{index}.section-header {
		margin-top:10px;
		margin-bottom:20px;
		padding:10px 0px;
        font-size: 30px - @index;
        color:@color-primary-0;
        text-transform: uppercase;
  		border-bottom : 1px solid @border-color;
	}
	.h(@index - 1);
}

main
{
	padding:20px 15px;
	.h(6);	
}

.sidebar-wrapper
{
  font-size:13px;
  padding:0px;
  border:1px solid #ccc;
  a:hover{
    text-decoration:none;
    color:#f9b916;
    background-color:#f7f7f7;
  }
  .separator-wrapper
  {
    padding-left:5px;
    padding-right:5px;
  }
  hr.separator
  {
    margin-top:10px;
    margin-bottom:10px;
  }

  .small-profile
  {
    padding:25px 20px;
    padding-bottom:0px;
    .userpic{
      padding-bottom:15px;  
      .username{
        line-height:47px;
      }
    }
    .token-wrapper
    {
      i{
        font-size:1.8em;
        color:@color-primary-0;
      }
      .token-value
      {
        line-height: 1.8em;
      }
    }
  }

  .sidebar{
    list-style:none;
    margin:0px;
    padding:0px;
    li.group{
      font-size:1.1em;
      text-transform:uppercase;
      font-family: 'Titillium Web', sans-serif !important;
      margin-bottom:5px;
      font-weight:bold;
      padding:7px 0px 7px 10px;
    }
    li{
      a {
        display:block;
        padding:7px 10px;
        i{
          margin-left:5px;
        }
        &:hover{
          text-decoration:none;
          color:#f9b916;
          background-color:#f7f7f7;
        }
      }
    }
  }
}