<?= $this->AssetCompress->css('System.Use56dds') ?>
<?= $this->Form->create($user,['class'=>'form-horizontal','readonly'=>true]); ?>
<div class="row">
	<div class="col-md-9">
		<div class="box box-default">
			<div class="box-header">
				<h3 class="box-title"><?= __d('system',"User Data") ?></h3>
			</div>
			<div class="box-body">
				<div class="form-group">
					<label class="col-md-2 control-label"><?= __d('system',"Username") ?></label>
					<div class="col-md-4">
						<?= $this->Form->input('username',['div'=>false,'label'=>false,'class'=>'form-control','placeholder'=>__d('system',"username"),'readonly'=>true]) ?>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label"><?= __d('system',"Email") ?></label>
					<div class="col-md-4">
						<?= $this->Form->input('email',['div'=>false,'label'=>false,'class'=>'form-control','placeholder'=>__d('system',"user@mail.com"),'readonly'=>true]) ?>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label"><?= __d('system',"Email") ?></label>
					<div class="col-md-4">
						<div class="input-group">
							<input type="text" class="form-control" value="<?= $user->role["name"] ?>"/>
							<span class="input-group-btn">
								<a href="#" class='btn btn-default' id="dynamic_quick_prev" data-href="<?= $this->Url->build(['controller'=>'UserRoles','action'=>'dynamicView','plugin'=>'System','prefix'=>'Ajax',$user->role["id"]]) ?>">
									<i class="fa fa-eye"></i>
								</a>
							</span>
						</div>	
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-2"></div>
					<div class="col-md-4">
						<label>
							<?= $this->Form->input('isactive',['div'=>false,'label'=>false,'class'=>'cb-readonly']) ?>
						</label>
						<label><?= __d('system',"Active") ?></label>	
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-2"></div>
					<div class="col-md-4">
						<label>
							<?= $this->Form->input('issuperadmin',['div'=>false,'label'=>false,'class'=>'cb-readonly']) ?>
						</label>
						<label><?= __d('system',"Administrator") ?></label>
					</div>
				</div>
			</div>
		</div>
		<div class="box box-default">
			<div class="box-header">
				<h3 class="box-title">
					<?= __d('system',"Profile") ?>
				</h3>
			</div>
			<div class="box-body">
				<div class="form-group">
					<label class="col-md-2 control-label">
						<?= __d('system',"First Name") ?>
					</label>
					<div class="col-md-4">
						<?= $this->Form->input('profile.firstname',['class'=>'form-control','label'=>false,'div'=>false,'placeholder'=>__d('system',"first name"),'readonly'=>true]) ?>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">
						<?= __d('system',"Last Name") ?>
					</label>
					<div class="col-md-4">
						<?= $this->Form->input('profile.lastname',['class'=>'form-control','label'=>false,'div'=>false,'placeholder'=>__d('system',"last name"),'readonly'=>true]) ?>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">
						<?= __d('system',"Full Name") ?>
					</label>
					<div class="col-md-4">
						<?= $this->Form->input('profile.fullname',['class'=>'form-control','label'=>false,'div'=>false,'placeholder'=>__d('system',"full name"),'readonly'=>true]) ?>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">
						<?= __d('system',"Display Name") ?>
					</label>
					<div class="col-md-4">
						<?= $this->Form->input('profile.displayname',['class'=>'form-control','label'=>false,'div'=>false,'placeholder'=>__d('system',"display name"),'readonly'=>true]) ?>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">
						<?= __d('system',"Birthday") ?>
					</label>
					<div class="col-md-4">
						<?= $this->Form->input('profile.birthday',['class'=>'form-control datepick','label'=>false,'div'=>false,'type'=>'text','placeholder'=>__d('system',"20-07-2015"),'readonly'=>true]) ?>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">
						<?= __d('system',"Address") ?>
					</label>
					<div class="col-md-10">
						<?= $this->Form->input('profile.address',['class'=>'form-control','label'=>false,'div'=>false,'placeholder'=>__d('system',"address"),'readonly'=>true]) ?>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">
						<?= __d('system',"Website") ?>
					</label>
					<div class="col-md-10">
						<?= $this->Form->input('profile.website',['class'=>'form-control','label'=>false,'div'=>false,'placeholder'=>__d('system',"website"),'readonly'=>true]) ?>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">
						<?= __d('system',"About me") ?>
					</label>
					<div class="col-md-10">
						<?= $this->Form->input('profile.aboutme',['class'=>'form-control','label'=>false,'div'=>false,'placeholder'=>__d('system',"about me"),'readonly'=>true]) ?>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="box box-default">
			<div class="box-header with-border">
				<h3 class="box-title">
					<?= __d('system',"Profile Picture"); ?>
				</h3>
			</div>
			<div class="box-body">
			<?php
					if(isset($user->profile["profilepic"]))
						echo $this->Html->image();
					else
						echo $this->Html->image('System.user-2.png',['style'=>'width:100%']);
				?>
			</div>
		</div>
	</div>
</div>
<?php $this->Form->end(); ?>
<?= $this->AssetCompress->script('System.Use56dds') ?>
<script type="text/javascript">
	$(".row").ready(function(e)
	{
		$("input[type='checkbox']").iCheck({
			checkboxClass: 'icheckbox_polaris',
		    radioClass: 'iradio_square',
		    increaseArea: '20%' // optional
	  	});
		$(".cb-readonly").iCheck('disable');

		$("#dynamic_quick_prev").popdisplay({
			'header':'Quick Preview Detail User Role',
			'fullscreen' : true
		});

	});
</script>