<div class="container sm-main-content">
	<div class="col-md-6 col-md-push-3">
		<div class="sm-box voucher">
			<h1 class="vouchercode center-align">
				<small><?= __d("smashdeal","Kode Voucher") ?></small><br>
				<?= $voucher['vouchercode'] ?>
			</h1>
			<div class="center-align">Validity : <?= $voucher["validity"]->i18nFormat("dd/MM/yyyy") ?></div>
			<h2 class="sub-section center-align">
				<?= __d("smashdeal","Merchant") ?>
			</h2>
			<table style="border-collapse:collapse;border:1px solid #ddd;width:100%">
                <tr>
                    <td style="background-color:#01688c;border:1px solid #ddd;color:#fff;width: 130px;padding:10px;">Nama Merchant</td>
                    <td style="border:1px solid #ddd;width: 270px;padding:10px;"><?= $voucher['merchant']['name'] ?></td>
                </tr>
                <tr>
                    <td style="background-color:#01688c;border:1px solid #ddd;color:#fff;width: 130px;padding:10px;">Alamat</td>
                    <td style="border:1px solid #ddd;width: 270px;padding:10px;"><?= $voucher['merchant']['address'] ?></td>
                </tr>
                <tr>
                    <td style="background-color:#01688c;border:1px solid #ddd;color:#fff;width: 130px;padding:10px;">Telephone</td>
                    <td style="border:1px solid #ddd;width: 270px;padding:10px;"><?= $voucher['merchant']['phonenoone'] ?></td>
                </tr>
                <tr>
                    <td style="background-color:#01688c;border:1px solid #ddd;color:#fff;width: 130px;padding:10px;">Telephone</td>
                    <td style="border:1px solid #ddd;width: 270px;padding:10px;"><?= $voucher['merchant']['phonenotwo'] ?></td>
                </tr>
            </table>
            <h2 class="sub-section center-align">
				<?= __d("smashdeal","Detail Produk") ?>
			</h2>
            <table class="table cart-table">
                <thead>
                    <tr>
                        <th width="40%" class="text-center"><?= __d("smashdeal","ITEM") ?></th>
                        <th width="20%" class="text-center"><?= __d("smashdeal","RETAIL PRICE") ?></th>
                        <th width="5%"></th>
                        <th width="10%" class="text-center"><?= __d("smashdeal","QUANTITY") ?></th>
                        <th width="20%" class="text-center"><?= __d("smashdeal","TOTAL") ?></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="item">
                                <strong><?= $voucher['purchase']['tb_deal_product']['productname'] ?></strong>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="item">
                                <?= $this->Number->currency($voucher['purchase']['retailprice']) ?>
                            </div>
                        </td>
                        <td class="center-align">
                            <div class="item">X</div>
                        </td>
                        <td>
                            <div class="item">
                                <?= $voucher['purchase']['amount'] ?>
                            </div>
                        </td>
                        <td class="right-align">
                            <div class="item">
                                <?= $this->Number->currency($voucher['purchase']['subtotal']) ?>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="right-align" colspan="4"><?= __d("smashdeal","Subtotal") ?></td>
                        <td class="right-align">
                            <?= $this->Number->currency($voucher['purchase']['subtotal']) ?>
                        </td>
                    </tr>
                    <tr>
                        <td class="right-align" colspan="4"><?= __d("smashdeal","Cash Token") ?></td>
                        <td class="right-align">
                            <?= $this->Number->currency($voucher['purchase']['cashtoken']) ?>
                        </td>
                    </tr>
                    <tr class="large">
                        <td class="right-align" colspan="4"><?= __d("smashdeal","Must Pay To Merchant") ?></td>
                        <td class="right-align">
                            <?= $this->Number->currency($voucher['purchase']['grandtotal']) ?>
                        </td>
                    </tr>
                </tbody>
            </table>
		</div>
	</div>
</div>