@charset "UTF-8";

@font-face {
  font-family: "smashdeal";
  src:url("../fonts/smashdeal.eot");
  src:url("../fonts/smashdeal.eot?#iefix") format("embedded-opentype"),
    url("../fonts/smashdeal.woff") format("woff"),
    url("../fonts/smashdeal.ttf") format("truetype"),
    url("../fonts/smashdeal.svg#smashdeal") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "smashdeal" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="sm-"]:before,
[class*=" sm-"]:before {
  font-family: "smashdeal" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sm-bargain:before {
  content: "\61";
}
.sm-facebook:before {
  content: "\62";
}
.sm-instagram:before {
  content: "\63";
}
.sm-twitter:before {
  content: "\64";
}
.sm-payment-method:before {
  content: "\65";
}
.sm-user:before {
  content: "\66";
}
.sm-wishlist:before {
  content: "\67";
}
.sm-youtube:before {
  content: "\68";
}
