@color-primary-0: #01688c;	/* Main Primary color */
@color-primary-1: #f4f4f4;
@color-primary-2: #ABACAE;
@color-primary-3: #01688c;
@color-primary-4: #01688c;
@fixed-header : #01688c;
@sky-blue : #c9dce2;
@mild-white : #f4f4f4;
@color-hover-orange : #f9b916;
@border-color:#9e9e9e;

html,body{
	padding:0px;
	margin:0px;
	min-height:100%;
}

.none-list
{
  list-style: none;
}

.inner-list
{
    &>li
    {
      float:left;
    }
}

h1,h2,h3,h4,h5,h6
{
	font-family: 'Titillium Web', sans-serif !important;
}

.h-one(@index) when (@index > 0) {
	h@{index} {
        font-size: 30px - @index;
        text-transform: uppercase;
	}
	.h-one(@index - 1);
}

.h-one(6);

nav{
	height:112px;
	
	.background
	{
		background-color:@color-primary-0;
	}

	.sm-nav-wrapper
	{
		height:56px;
		background-color:@mild-white;
		a{
			color:#333;
		}
	}

	.search-nav-wrapper
	{
		height:56px;
		background-color:@color-primary-0;
	}

	.brand-logo
	{
		padding-top:8px;
		img{
			height: 40px;
		}
	}

	.side-nav{
		.user-img
		{
			height:60px;
		}
	}
}

.h(@index) when (@index > 0) {
	h@{index}.section-header {
		margin-top:10px;
		margin-bottom:20px;
		padding:10px 0px;
        font-size: 30px - @index;
        color:@color-primary-0;
        text-transform: uppercase;
  		border-bottom : 1px solid @border-color;
	}
	.h(@index - 1);
}

.body
{
	.h(6);	
}

.btn-sm-primary
{
	background-color:@color-primary-0;
	&:hover, &:focus, &:active{
		background-color:@color-primary-4;
		color:@color-hover-orange;
	}
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after
{
	background-color:@color-primary-0;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after
{
	background-color:@color-primary-0;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after
{
	background-color:@color-primary-0;
}

.picker__box{
	.picker__date-display
	{
		background-color:@color-primary-0;
	}

	.picker__weekday-display
	{
		background-color:@color-primary-4;
	}

	.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected
	{
		background-color:@color-primary-0;
	}

	.picker__close, .picker__today
	{
		color:@color-primary-0;
	}
}

.token-box
{
	padding:10px;
	border:1px solid @border-color;
	border-radius: 5px;
	margin-bottom:20px;
	.separator
	{
		border-top:1px solid @border-color;
		margin-bottom:10px;
		margin-top:10px;
	}
	.token-box-title
	{
		font-size : 1.5em;
		text-align: center;
		font-weight: bold;
		margin:0px;
		padding:5px;
		color:@color-primary-0;
	}
}

.sub-section
{
  	margin-top:30px;
  	border:1px solid @border-color;
  	padding-right:30px;
  	padding-left:30px;
  	.sub-section-header{
  		float:left;
	  	margin-top:-15px;
	  	margin-left:-25px;
	  	font-size:1.5em;
	  	background-color:#fff;
	  	.number
	  	{
			background-color:@color-primary-0;
	    	color:#fff;
	    	padding:0px 10px;
	    	margin-right:10px;
 	 	}
	}
}

.product-wrapper
{
	padding:0px 20px;
}

.sm-bargain-box
{
	box-shadow: 1px 1px 1px #ddd;
	padding:10px;
	.sm-bargain-info
	{
		padding:0px 10px;
		.sm-bargain-title
		{
			font-size:1.4em;
			color:@color-primary-0;
			text-align:center;
		}
		.sm-extra-info
		{
			color:#aaa;
		}
		.sm-bargain-retail-price
		{
			color:@color-primary-0;
			font-size:1.2em;
			font-weight:bold;
		}

		.sm-bargain-token
		{
			background-color:@color-primary-0;
			color:@mild-white;
		}
	}
}

footer
{
	height:285px;
	background-color:@sky-blue;
	border-top:10px solid @color-primary-0;
	a{
		color:@color-primary-0;
		&:hover, &:focus, &:active{
			color:@color-hover-orange;
		}
	}
	
	.footer-link-header
  	{
	    font-weight: bold;
	    margin-top:20px;
	    font-size:16px;
  	}	

	.social-link-list
  	{
	    .none-list();
	    .inner-list();
	    display:inline-block;
	    margin:0px;
	    padding:0px;
	    li{
	      	a{
	        	display:block;
	        	font-size:34px;
	        	padding:10px;
	        	&:hover
	        	{
	          		text-decoration: none;
	        	}
	      	}
	    }
	    .instagram-icon
	    {
	    	color : #6a453c;
	    }
  	}
}

.sm-prd-detail
{
	padding:10px;
	.sm-bargain-detail-title
	{
		color:@color-primary-0;
		font-size:1.5em;
		text-align:center;
	}

	.sm-bargain-retail-price
	{
		color:@color-primary-0;
		font-size:1.4em;
		.extra-label
		{
			font-size:0.8em !important;
			color:@border-color;
		}
	}

	.sm-prd-token-amount
	{
		background-color:@color-primary-0;
		color:@mild-white;
		text-align:center;
		font-weight:bold;
	}

	.sm-bargain-detail-price-range
	{
		text-align:right;
		color:#333;
	}
}

.sm-tabs .tab a
{
	color:@color-primary-0;
}

.sm-tabs .tab a:hover, .sm-tabs .tab a.active
{
	color:@color-primary-0;
}

.sm-tabs .indicator
{
	background-color:@color-primary-0;
}

.prospec
{
	img{
		width: 100%;
	}

	iframe
	{
		width:100%;
	}
}

.timer-label
{
	font-size:1.2em;
}

.timer
{
	background-color:@color-primary-0;
	color:#fff;
	padding:10px !important;
	font-size:1.4em;
}

.sm-prd-detail-sub-title
{
	padding-bottom: 10px;
	font-size:2em;
	color:@color-primary-0;
	border-bottom:1px solid @color-primary-0;
}

.sm-blue
{
	border-color:@color-primary-0;
}

.bargain-overflow
{
	height:400px;
	overflow-y:auto;
	padding:20px 10px;
}

.bargain-status-box
{
	width:100%;
	box-shadow: 1px 1px 1px #ddd;
	margin-bottom:10px;
	padding:10px;
	.price{
		color:@color-primary-0;
		font-size:1.4em;
	}
	.time{
		color:#333;
		font-size:0.9em;	
	}
	.rank{
		font-size:1.7em;
		color:@color-primary-0;
	}
}

.bargain-status-box.rank-1
{
	background-color:#FFD700;
}

.bargain-status-box.rank-2
{
	background-color:#C0C0C0;
}

.bargain-status-box.rank-3
{
	background-color:#CD7F32;
}

.no-margin
{
	margin:0px;
}

.category-list-wrapper
{
	padding:0px 10px;
}

.category-list
{
	li
	{
		float:left;
		width:50%;
		a{
			display:inline-block;
			width:100%;
			line-height: 34px;
			border:1px solid @color-hover-orange;
			text-align:center;
			color:@color-primary-0;
			background-color:@mild-white;
			&:hover, &:active, &:focus{
				background-color:@color-hover-orange;
				color:@mild-white;
			}
		}
	}
}

.category-nav{
	position:relative;
	overflow-x:auto;
	overflow-y:hidden;
	height:56px;
	background-color:white;
	margin:0px auto;
	white-space: nowrap;
	li{
		display:inline-block;
		text-align:center;
		line-height:56px;
		height:56px;
		padding:0px;
		margin:0px;
		text-transform:uppercase;
		a{
			color:@color-primary-0;
			display:block;
			width:100%;
			height:100%;
			padding:0px 24px;
			text-overflow:ellipsis;
			overflow:hidden;
			transition:color .28s ease;
		}
	}
}

.category-nav
{
	max-width:100%;
	max-height:56px;
	overflow-x:auto;
	ul{
		margin-top:0px;
		height:56px;
		li{
			display:block;
			width:150px;
			a{
				display:inline-block;
				width:100%;
				padding:0px 10px;
				line-height:56px;
			}
		}
	}
}

.sm-bargain-box
{
	margin-bottom:20px;
	color:@color-primary-0;
	.img-wrapper
	{
		img{
			width:100%;
		}
	}

	.info-wrapper
	{
		.sm-bargain-retail-price
		{
			color:@color-primary-0;
		}

		.sm-prd-token-amount
		{
			background-color:@color-primary-0;
			color:#fff;
			padding:10px;
			text-align:center;
		}
	}
}

.unconfirm-payment
{
	box-shadow: 1px 1px 1px #ddd;
	padding:10px;
	margin-bottom:20px;
}

.alert{
	position:fixed;
	bottom: 0px;
	width:100%;
	color:#000;
	padding:20px 15px;
	font-size:1.2em;
	z-index:1089;
	.close{
		float:right;
		background-color:transparent;
		border:none;
		font-size:20px;
	}
}

.alert-success
{
	background-color:rgba(123,249,19,0.8);
}

.alert-danger
{
	background-color:rgba(255,35,35,0.8);
}

.alert-warning
{
	background-color:rgba(249,185,22,0.8);
}

div.error-message
{
	color:#ff2323;
	padding:10px 0px;
}

.vouchercode
{
	font-size:1.8em;
	small{
		font-size:0.6em;
	}
}

.ribbon {
  background: #01688C;
  position: absolute;
  right:4px;
  padding:10px;
  padding-right: 40px;
  color:white;
  font-weight:bold;
  text-shadow: 0px 1px 1px #4d4d4d;
  z-index:1030;
}
/* These are the two ribbon "curls". The :before curl is placed to the left, :after to the right */
.ribbon:after {
  border-color: #444444;
  border-style: solid;
  border-width: 0;
  border-top-width: 15px; /* This sets the height of the curls, making it half the width to angle the curls more. */
  content: ''; /* Tells the browser to actually generate the pseudo element */
  position: absolute;
}
.ribbon:after {
  /* Position the :after element to the right and below the ribbon element */
  right: 0;
  bottom: -15px; /* Equal to the height of the curl */
  border-right: 15px solid transparent; /* Makes the curl slant left */
}

.ribbon-two {
  background: #01688C;
  position: absolute;
  right:0px;
  padding:10px;
  padding-right: 40px;
  color:white;
  font-weight:bold;
  text-shadow: 0px 1px 1px #4d4d4d;
  z-index:1030;
}

.bar-wrapper
{
  width:100%;
  height:20px;
  border:1px solid #ccc;
  margin-top:5px;
  margin-bottom:20px;
}

.the-bar
{
  width:inherit;
  height:18px;
  background-color:#01688C;
}